//
// Flexbox

.flex {
  display: flex;
  align-items: stretch;

  &.wrap         { flex-wrap: wrap; }
  &.inline       { display: inline-flex; }

  &.align-stretch  { align-items: stretch; }
  &.align-start    { align-items: flex-start; }
  &.align-center   { align-items: center; }
  &.align-end      { align-items: flex-end; }
  &.align-baseline { align-items: baseline; }

  &.justify        { justify-content: space-between; }
  &.justify-around { justify-content: space-around; }
  &.justify-center { justify-content: center; }
  &.justify-end    { justify-content: flex-end; }

  &.vertical         { flex-direction: column; }
  &.vertical-reverse { flex-direction: column-reverse; }
  &.reverse          { flex-direction: row-reverse; }

  &.grow > * {
    flex-basis: auto;
    flex-grow: 1;
  }

  &.even > * {
    flex-basis: 0;
    flex-grow: 1;
  }

  &.content-stretch        { align-content: stretch; }
  &.content-start          { align-content: flex-start; }
  &.content-center         { align-content: center; }
  &.content-end            { align-content: flex-end; }
  &.content-justify        { align-content: space-between; }
  &.content-justify-around { align-content: space-around; }
}

.grow {
  flex-basis: auto;
  flex-grow: 1;
}

.align-stretch  { align-self: stretch; }
.align-start    { align-self: flex-start; }
.align-center   { align-self: center; }
.align-end      { align-self: flex-end; }
.align-baseline { align-self: baseline; }

//
// Widths and heights

.max-width { max-width: $max-width; }

.width-100       { width: 100%; }
.min-height-100  { min-height: 100%; }
.width-auto      { width: auto; }
.width-100vw     { width: 100vw; }
.min-width-100vw { width: 100vw; }
.width-hairline  { width: $hairline; }

.width-xxxxs { width: $spacing-xxxxs; }
.width-xxxs  { width: $spacing-xxxs; }
.width-xxs   { width: $spacing-xxs; }
.width-xs    { width: $spacing-xs;  }
.width-s     { width: $spacing-s;   }
.width       { width: $spacing;     }
.width-l     { width: $spacing-l;   }
.width-xl    { width: $spacing-xl;  }
.width-xxl   { width: $spacing-xxl; }
.width-xxxl  { width: $spacing-xxxl; }
.width-xxxxl { width: $spacing-xxxxl; }

.height-100       { height: 100%; }
.min-height-100   { min-height: 100%; }
.height-auto      { height: auto; }
.height-100vh     { height: 100vh; }
.min-height-100vh { min-height: 100vh; }
.height-hairline  { height: $hairline; }

.height-xxxxs { height: $spacing-xxxxs; }
.height-xxxs  { height: $spacing-xxxs; }
.height-xxs   { height: $spacing-xxs; }
.height-xs    { height: $spacing-xs;  }
.height-s     { height: $spacing-s;   }
.height       { height: $spacing;     }
.height-l     { height: $spacing-l;   }
.height-xl    { height: $spacing-xl;  }
.height-xxl   { height: $spacing-xxl; }
.height-xxxl  { height: $spacing-xxxl; }
.height-xxxxl { height: $spacing-xxxxl; }

//
// Auto-margins

.auto-margins-v-xxxxs > * + * { margin-top: $spacing-xxxxs; }
.auto-margins-v-xxxs  > * + * { margin-top: $spacing-xxxs; }
.auto-margins-v-xxs   > * + * { margin-top: $spacing-xxs; }
.auto-margins-v-xs    > * + * { margin-top: $spacing-xs;  }
.auto-margins-v-s     > * + * { margin-top: $spacing-s;   }
.auto-margins-v       > * + * { margin-top: $spacing;     }
.auto-margins-v-l     > * + * { margin-top: $spacing-l;   }
.auto-margins-v-xl    > * + * { margin-top: $spacing-xl;  }
.auto-margins-v-xxl   > * + * { margin-top: $spacing-xxl; }
.auto-margins-v-xxxl  > * + * { margin-top: $spacing-xxxl; }
.auto-margins-v-xxxxl > * + * { margin-top: $spacing-xxxxl; }

.auto-margins-h-xxxxs > * + * { margin-left: $spacing-xxxxs; }
.auto-margins-h-xxxs  > * + * { margin-left: $spacing-xxxs; }
.auto-margins-h-xxs   > * + * { margin-left: $spacing-xxs; }
.auto-margins-h-xs    > * + * { margin-left: $spacing-xs;  }
.auto-margins-h-s     > * + * { margin-left: $spacing-s;   }
.auto-margins-h       > * + * { margin-left: $spacing;     }
.auto-margins-h-l     > * + * { margin-left: $spacing-l;   }
.auto-margins-h-xl    > * + * { margin-left: $spacing-xl;  }
.auto-margins-h-xxl   > * + * { margin-left: $spacing-xxl; }
.auto-margins-h-xxxl  > * + * { margin-left: $spacing-xxxl; }
.auto-margins-h-xxxxl > * + * { margin-left: $spacing-xxxxl; }

.auto-margins-v-hairline > * + * { margin-top:  $hairline; }
.auto-margins-h-hairline > * + * { margin-left: $hairline; }

//
// Auto-borders

.auto-borders >   *,
.auto-borders-v > *,
.auto-borders-h > * { border: 0 solid $border; }

.auto-borders         { border: 0 solid $border; border-width: $hairline 0 0 $hairline; }
.auto-borders > * + * { border-width: 0 $hairline $hairline 0; }

.auto-borders-v > * + * { border-top-width:  $hairline; }
.auto-borders-h > * + * { border-left-width: $hairline; }

//
// Paddings

.padding-xxxxs { padding: $spacing-xxxxs; }
.padding-xxxs  { padding: $spacing-xxxs; }
.padding-xxs   { padding: $spacing-xxs; }
.padding-xs    { padding: $spacing-xs;  }
.padding-s     { padding: $spacing-s;   }
.padding       { padding: $spacing;     }
.padding-l     { padding: $spacing-l;   }
.padding-xl    { padding: $spacing-xl;  }
.padding-xxl   { padding: $spacing-xxl; }
.padding-xxxl  { padding: $spacing-xxxl; }
.padding-xxxxl { padding: $spacing-xxxxl; }

.padding-v-xxxxs { padding-top: $spacing-xxxxs; padding-bottom: $spacing-xxxxs; }
.padding-v-xxxs  { padding-top: $spacing-xxxs; padding-bottom: $spacing-xxxs; }
.padding-v-xxs   { padding-top: $spacing-xxs; padding-bottom: $spacing-xxs; }
.padding-v-xs    { padding-top: $spacing-xs;  padding-bottom: $spacing-xs;  }
.padding-v-s     { padding-top: $spacing-s;   padding-bottom: $spacing-s;   }
.padding-v       { padding-top: $spacing;     padding-bottom: $spacing;     }
.padding-v-l     { padding-top: $spacing-l;   padding-bottom: $spacing-l;   }
.padding-v-xl    { padding-top: $spacing-xl;  padding-bottom: $spacing-xl;  }
.padding-v-xxl   { padding-top: $spacing-xxl; padding-bottom: $spacing-xxl; }
.padding-v-xxxl  { padding-top: $spacing-xxxl; padding-bottom: $spacing-xxxl; }
.padding-v-xxxxl { padding-top: $spacing-xxxxl; padding-bottom: $spacing-xxxxl; }

.padding-h-xxxxs { padding-left: $spacing-xxxxs; padding-right: $spacing-xxxxs; }
.padding-h-xxxs  { padding-left: $spacing-xxxs; padding-right: $spacing-xxxs; }
.padding-h-xxs   { padding-left: $spacing-xxs; padding-right: $spacing-xxs; }
.padding-h-xs    { padding-left: $spacing-xs;  padding-right: $spacing-xs;  }
.padding-h-s     { padding-left: $spacing-s;   padding-right: $spacing-s;   }
.padding-h       { padding-left: $spacing;     padding-right: $spacing;     }
.padding-h-l     { padding-left: $spacing-l;   padding-right: $spacing-l;   }
.padding-h-xl    { padding-left: $spacing-xl;  padding-right: $spacing-xl;  }
.padding-h-xxl   { padding-left: $spacing-xxl; padding-right: $spacing-xxl; }
.padding-h-xxxl  { padding-left: $spacing-xxxl; padding-right: $spacing-xxxl; }
.padding-h-xxxxl { padding-left: $spacing-xxxxl; padding-right: $spacing-xxxxl; }

.padding-top-xxxxs { padding-top: $spacing-xxxxs; }
.padding-top-xxxs  { padding-top: $spacing-xxxs; }
.padding-top-xxs   { padding-top: $spacing-xxs; }
.padding-top-xs    { padding-top: $spacing-xs;  }
.padding-top-s     { padding-top: $spacing-s;   }
.padding-top       { padding-top: $spacing;     }
.padding-top-l     { padding-top: $spacing-l;   }
.padding-top-xl    { padding-top: $spacing-xl;  }
.padding-top-xxl   { padding-top: $spacing-xxl; }
.padding-top-xxxl  { padding-top: $spacing-xxxl; }
.padding-top-xxxxl { padding-top: $spacing-xxxxl; }

.padding-right-xxxxs { padding-right: $spacing-xxxxs; }
.padding-right-xxxs  { padding-right: $spacing-xxxs; }
.padding-right-xxs   { padding-right: $spacing-xxs; }
.padding-right-xs    { padding-right: $spacing-xs;  }
.padding-right-s     { padding-right: $spacing-s;   }
.padding-right       { padding-right: $spacing;     }
.padding-right-l     { padding-right: $spacing-l;   }
.padding-right-xl    { padding-right: $spacing-xl;  }
.padding-right-xxl   { padding-right: $spacing-xxl; }
.padding-right-xxxl  { padding-right: $spacing-xxxl; }
.padding-right-xxxxl { padding-right: $spacing-xxxxl; }

.padding-bottom-xxxxs { padding-bottom: $spacing-xxxxs; }
.padding-bottom-xxxs  { padding-bottom: $spacing-xxxs; }
.padding-bottom-xxs   { padding-bottom: $spacing-xxs; }
.padding-bottom-xs    { padding-bottom: $spacing-xs;  }
.padding-bottom-s     { padding-bottom: $spacing-s;   }
.padding-bottom       { padding-bottom: $spacing;     }
.padding-bottom-l     { padding-bottom: $spacing-l;   }
.padding-bottom-xl    { padding-bottom: $spacing-xl;  }
.padding-bottom-xxl   { padding-bottom: $spacing-xxl; }
.padding-bottom-xxxl  { padding-bottom: $spacing-xxxl; }
.padding-bottom-xxxxl { padding-bottom: $spacing-xxxxl; }

.padding-left-xxxxs { padding-left: $spacing-xxxxs; }
.padding-left-xxxs  { padding-left: $spacing-xxxs; }
.padding-left-xxs   { padding-left: $spacing-xxs; }
.padding-left-xs    { padding-left: $spacing-xs;  }
.padding-left-s     { padding-left: $spacing-s;   }
.padding-left       { padding-left: $spacing;     }
.padding-left-l     { padding-left: $spacing-l;   }
.padding-left-xl    { padding-left: $spacing-xl;  }
.padding-left-xxl   { padding-left: $spacing-xxl; }
.padding-left-xxxl  { padding-left: $spacing-xxxl; }
.padding-left-xxxxl { padding-left: $spacing-xxxxl; }

//
// Margins

.margin-auto   { margin: auto; }
.margin-auto-h { margin-left: auto; margin-right: auto; }
.margin-auto-v { margin-top: auto; margin-bottom: auto; }

.margin-xxxxs { margin: $spacing-xxxxs; }
.margin-xxxs  { margin: $spacing-xxxs; }
.margin-xxs   { margin: $spacing-xxs; }
.margin-xs    { margin: $spacing-xs;  }
.margin-s     { margin: $spacing-s;   }
.margin       { margin: $spacing;     }
.margin-l     { margin: $spacing-l;   }
.margin-xl    { margin: $spacing-xl;  }
.margin-xxl   { margin: $spacing-xxl; }
.margin-xxxl  { margin: $spacing-xxxl; }
.margin-xxxxl { margin: $spacing-xxxxl; }

.margin-v-xxxxs { margin-top: $spacing-xxxxs;  margin-bottom: $spacing-xxxxs; }
.margin-v-xxxs  { margin-top: $spacing-xxxs;  margin-bottom: $spacing-xxxs; }
.margin-v-xxs   { margin-top: $spacing-xxs;  margin-bottom: $spacing-xxs; }
.margin-v-xs    { margin-top: $spacing-xs;   margin-bottom: $spacing-xs;  }
.margin-v-s     { margin-top: $spacing-s;    margin-bottom: $spacing-s;   }
.margin-v       { margin-top: $spacing;      margin-bottom: $spacing;     }
.margin-v-l     { margin-top: $spacing-l;    margin-bottom: $spacing-l;   }
.margin-v-xl    { margin-top: $spacing-xl;   margin-bottom: $spacing-xl;  }
.margin-v-xxl   { margin-top: $spacing-xxl;  margin-bottom: $spacing-xxl; }
.margin-v-xxxl  { margin-top: $spacing-xxxl;  margin-bottom: $spacing-xxxl; }
.margin-v-xxxxl { margin-top: $spacing-xxxxl;  margin-bottom: $spacing-xxxxl; }

.margin-h-xxxxs { margin-left: $spacing-xxxxs; margin-right: $spacing-xxxxs; }
.margin-h-xxxs  { margin-left: $spacing-xxxs; margin-right: $spacing-xxxs; }
.margin-h-xxs   { margin-left: $spacing-xxs; margin-right: $spacing-xxs; }
.margin-h-xs    { margin-left: $spacing-xs;  margin-right: $spacing-xs;  }
.margin-h-s     { margin-left: $spacing-s;   margin-right: $spacing-s;   }
.margin-h       { margin-left: $spacing;     margin-right: $spacing;     }
.margin-h-l     { margin-left: $spacing-l;   margin-right: $spacing-l;   }
.margin-h-xl    { margin-left: $spacing-xl;  margin-right: $spacing-xl;  }
.margin-h-xxl   { margin-left: $spacing-xxl; margin-right: $spacing-xxl; }
.margin-h-xxxl  { margin-left: $spacing-xxxl; margin-right: $spacing-xxxl; }
.margin-h-xxxxl { margin-left: $spacing-xxxxl; margin-right: $spacing-xxxxl; }

.margin-top-xxxxs { margin-top: $spacing-xxxxs; }
.margin-top-xxxs  { margin-top: $spacing-xxxs; }
.margin-top-xxs   { margin-top: $spacing-xxs; }
.margin-top-xs    { margin-top: $spacing-xs;  }
.margin-top-s     { margin-top: $spacing-s;   }
.margin-top       { margin-top: $spacing;     }
.margin-top-l     { margin-top: $spacing-l;   }
.margin-top-xl    { margin-top: $spacing-xl;  }
.margin-top-xxl   { margin-top: $spacing-xxl; }
.margin-top-xxxl  { margin-top: $spacing-xxxl; }
.margin-top-xxxxl { margin-top: $spacing-xxxxl; }

.margin-right-xxxxs { margin-right: $spacing-xxxxs; }
.margin-right-xxxs  { margin-right: $spacing-xxxs; }
.margin-right-xxs   { margin-right: $spacing-xxs; }
.margin-right-xs    { margin-right: $spacing-xs;  }
.margin-right-s     { margin-right: $spacing-s;   }
.margin-right       { margin-right: $spacing;     }
.margin-right-l     { margin-right: $spacing-l;   }
.margin-right-xl    { margin-right: $spacing-xl;  }
.margin-right-xxl   { margin-right: $spacing-xxl; }
.margin-right-xxxl  { margin-right: $spacing-xxxl; }
.margin-right-xxxxl { margin-right: $spacing-xxxxl; }

.margin-bottom-xxxxs { margin-bottom: $spacing-xxxxs; }
.margin-bottom-xxxs  { margin-bottom: $spacing-xxxs; }
.margin-bottom-xxs   { margin-bottom: $spacing-xxs; }
.margin-bottom-xs    { margin-bottom: $spacing-xs;  }
.margin-bottom-s     { margin-bottom: $spacing-s;   }
.margin-bottom       { margin-bottom: $spacing;     }
.margin-bottom-l     { margin-bottom: $spacing-l;   }
.margin-bottom-xl    { margin-bottom: $spacing-xl;  }
.margin-bottom-xxl   { margin-bottom: $spacing-xxl; }
.margin-bottom-xxxl  { margin-bottom: $spacing-xxxl; }
.margin-bottom-xxxxl { margin-bottom: $spacing-xxxxl; }

.margin-left-xxxxs { margin-left: $spacing-xxxxs; }
.margin-left-xxxs  { margin-left: $spacing-xxxs; }
.margin-left-xxs   { margin-left: $spacing-xxs; }
.margin-left-xs    { margin-left: $spacing-xs;  }
.margin-left-s     { margin-left: $spacing-s;   }
.margin-left       { margin-left: $spacing;     }
.margin-left-l     { margin-left: $spacing-l;   }
.margin-left-xl    { margin-left: $spacing-xl;  }
.margin-left-xxl   { margin-left: $spacing-xxl; }
.margin-left-xxxl  { margin-left: $spacing-xxxl; }
.margin-left-xxxxl { margin-left: $spacing-xxxxl; }

//
// Negative margins

.negative-margin-xxxxs { margin: -$spacing-xxxxs; }
.negative-margin-xxxs  { margin: -$spacing-xxxs; }
.negative-margin-xxs   { margin: -$spacing-xxs; }
.negative-margin-xs    { margin: -$spacing-xs;  }
.negative-margin-s     { margin: -$spacing-s;   }
.negative-margin       { margin: -$spacing;     }
.negative-margin-l     { margin: -$spacing-l;   }
.negative-margin-xl    { margin: -$spacing-xl;  }
.negative-margin-xxl   { margin: -$spacing-xxl; }
.negative-margin-xxxl  { margin: -$spacing-xxxl; }
.negative-margin-xxxxl { margin: -$spacing-xxxxl; }

//
// Borders

.border   { border: $hairline solid $border; }

.border-v { border: solid $border; border-width: $hairline 0;  }
.border-h { border: solid $border; border-width: 0   $hairline;}

.border-left   { border-left:   $hairline solid $border; }
.border-top    { border-top:    $hairline solid $border; }
.border-right  { border-right:  $hairline solid $border; }
.border-bottom { border-bottom: $hairline solid $border; }

.dotted { border-style: dotted; }
.dashed { border-style: dashed; }

//
// Text alignments

.text-align-left   { text-align: left;   }
.text-align-center { text-align: center; }
.text-align-right  { text-align: right;  }

//
// Floats

.float-left  { float: left;  }
.float-right { float: right; }

.clear-left  { clear: left;  }
.clear-right { clear: right; }
.clear-both  { clear: both; }

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

//
// Position absolutes

.pos-all    { position: absolute; left: 0; top:    0; right:  0; margin: auto; bottom: 0; }
.pos-left   { position: absolute; top:  0; bottom: 0; left:   0; margin: auto; }
.pos-right  { position: absolute; top:  0; bottom: 0; right:  0; margin: auto; }
.pos-top    { position: absolute; left: 0; right:  0; top:    0; margin: auto; }
.pos-bottom { position: absolute; left: 0; right:  0; bottom: 0; margin: auto; }

.pos-top-left     { position: absolute; top:    0; left:  0; }
.pos-top-right    { position: absolute; top:    0; right: 0; }
.pos-bottom-left  { position: absolute; bottom: 0; left:  0; }
.pos-bottom-right { position: absolute; bottom: 0; right: 0; }

.pos-center-top-left     { position: absolute; top:    50%; left:  50%; }
.pos-center-top-right    { position: absolute; top:    50%; right: 50%; }
.pos-center-bottom-left  { position: absolute; bottom: 50%; left:  50%; }
.pos-center-bottom-right { position: absolute; bottom: 50%; right: 50%; }

.absolute { position: absolute; }
.relative { position: relative; }
.fixed    { position: fixed;    }

//
// Pointer events

.no-events { pointer-events: none; }
.events    { pointer-events: all;  }

//
// Typography

.all-caps   { text-transform: uppercase;  }
.capitalize { text-transform: capitalize; }

.nowrap {
  white-space: nowrap;
}

.text-overflow-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

//
// Blocks

.inline { display: inline; }
.block { display: block; }
.inline-block { display: inline-block; }
