//
// Flexbox

.flex {
  display: flex;
  align-items: stretch;

  &.wrap         { flex-wrap: wrap; }
  &.inline       { display: inline-flex; }

  &.align-stretch  { align-items: stretch; }
  &.align-start    { align-items: flex-start; }
  &.align-center   { align-items: center; }
  &.align-end      { align-items: flex-end; }
  &.align-baseline { align-items: baseline; }

  &.justify        { justify-content: space-between; }
  &.justify-around { justify-content: space-around; }
  &.justify-center { justify-content: center; }
  &.justify-end    { justify-content: flex-end; }

  &.vertical         { flex-direction: column; }
  &.vertical-reverse { flex-direction: column-reverse; }
  &.reverse          { flex-direction: row-reverse; }

  &.grow > * {
    flex-basis: auto;
    flex-grow: 1;
  }

  &.even > * {
    flex-basis: 0;
    flex-grow: 1;
  }

  &.content-stretch        { align-content: stretch; }
  &.content-start          { align-content: flex-start; }
  &.content-center         { align-content: center; }
  &.content-end            { align-content: flex-end; }
  &.content-justify        { align-content: space-between; }
  &.content-justify-around { align-content: space-around; }
}

.grow {
  flex-basis: auto;
  flex-grow: 1;
}

.align-stretch  { align-self: stretch; }
.align-start    { align-self: flex-start; }
.align-center   { align-self: center; }
.align-end      { align-self: flex-end; }
.align-baseline { align-self: baseline; }

//
// Widths and heights

.max-width { max-width: $max-width; }

.width-100       { width: 100%; }
.min-height-100  { min-height: 100%; }
.width-auto      { width: auto; }
.width-100vw     { width: 100vw; }
.min-width-100vw { width: 100vw; }
.width-hairline  { width: $hairline; }

.width-xxxxs { width: $spacing-xxxxs; }
.width-xxxs  { width: $spacing-xxxs; }
.width-xxs   { width: $spacing-xxs; }
.width-xs    { width: $spacing-xs;  }
.width-s     { width: $spacing-s;   }
.width       { width: $spacing;     }
.width-l     { width: $spacing-l;   }
.width-xl    { width: $spacing-xl;  }
.width-xxl   { width: $spacing-xxl; }
.width-xxxl  { width: $spacing-xxxl; }
.width-xxxxl { width: $spacing-xxxxl; }

.height-100       { height: 100%; }
.min-height-100   { min-height: 100%; }
.height-auto      { height: auto; }
.height-100vh     { height: 100vh; }
.min-height-100vh { min-height: 100vh; }
.height-hairline  { height: $hairline; }

.height-xxxxs { height: $spacing-xxxxs; }
.height-xxxs  { height: $spacing-xxxs; }
.height-xxs   { height: $spacing-xxs; }
.height-xs    { height: $spacing-xs;  }
.height-s     { height: $spacing-s;   }
.height       { height: $spacing;     }
.height-l     { height: $spacing-l;   }
.height-xl    { height: $spacing-xl;  }
.height-xxl   { height: $spacing-xxl; }
.height-xxxl  { height: $spacing-xxxl; }
.height-xxxxl { height: $spacing-xxxxl; }

//
// Auto-margins

.auto-margins-x-xxxxs > * + * { margin-left: $spacing-xxxxs; }
.auto-margins-x-xxxs  > * + * { margin-left: $spacing-xxxs; }
.auto-margins-x-xxs   > * + * { margin-left: $spacing-xxs; }
.auto-margins-x-xs    > * + * { margin-left: $spacing-xs;  }
.auto-margins-x-s     > * + * { margin-left: $spacing-s;   }
.auto-margins-x       > * + * { margin-left: $spacing;     }
.auto-margins-x-l     > * + * { margin-left: $spacing-l;   }
.auto-margins-x-xl    > * + * { margin-left: $spacing-xl;  }
.auto-margins-x-xxl   > * + * { margin-left: $spacing-xxl; }
.auto-margins-x-xxxl  > * + * { margin-left: $spacing-xxxl; }
.auto-margins-x-xxxxl > * + * { margin-left: $spacing-xxxxl; }

.auto-margins-y-xxxxs > * + * { margin-top: $spacing-xxxxs; }
.auto-margins-y-xxxs  > * + * { margin-top: $spacing-xxxs; }
.auto-margins-y-xxs   > * + * { margin-top: $spacing-xxs; }
.auto-margins-y-xs    > * + * { margin-top: $spacing-xs;  }
.auto-margins-y-s     > * + * { margin-top: $spacing-s;   }
.auto-margins-y       > * + * { margin-top: $spacing;     }
.auto-margins-y-l     > * + * { margin-top: $spacing-l;   }
.auto-margins-y-xl    > * + * { margin-top: $spacing-xl;  }
.auto-margins-y-xxl   > * + * { margin-top: $spacing-xxl; }
.auto-margins-y-xxxl  > * + * { margin-top: $spacing-xxxl; }
.auto-margins-y-xxxxl > * + * { margin-top: $spacing-xxxxl; }

.auto-margins-x-hairline > * + * { margin-left: $hairline; }
.auto-margins-y-hairline > * + * { margin-top:  $hairline; }

//
// Auto-borders

.auto-borders-grid > *,
.auto-borders-x    > *,
.auto-borders-y    > * { border: 0 solid $border; }

.auto-borders-grid    { border: 0 solid $border; border-width: $hairline 0 0 $hairline; }
.auto-borders > * + * { border-width: 0 $hairline $hairline 0; }

.auto-borders-x > * + * { border-left-width: $hairline; }
.auto-borders-y > * + * { border-top-width:  $hairline; }

//
// Paddings

.padding-xxxxs { padding: $spacing-xxxxs; }
.padding-xxxs  { padding: $spacing-xxxs; }
.padding-xxs   { padding: $spacing-xxs; }
.padding-xs    { padding: $spacing-xs;  }
.padding-s     { padding: $spacing-s;   }
.padding       { padding: $spacing;     }
.padding-l     { padding: $spacing-l;   }
.padding-xl    { padding: $spacing-xl;  }
.padding-xxl   { padding: $spacing-xxl; }
.padding-xxxl  { padding: $spacing-xxxl; }
.padding-xxxxl { padding: $spacing-xxxxl; }

.padding-top    { padding-right: 0; padding-bottom: 0; padding-left:   0; }
.padding-right  { padding-top:   0; padding-bottom: 0; padding-left:   0; }
.padding-bottom { padding-top:   0; padding-right:  0; padding-left:   0; }
.padding-left   { padding-top:   0; padding-right:  0; padding-bottom: 0; }

.padding-x { padding-top:  0; padding-bottom: 0; }
.padding-y { padding-left: 0; padding-right:  0; }

//
// Margins

.margin-auto   { margin: auto; }
.margin-auto-x { margin-left: auto; margin-right: auto; }
.margin-auto-y { margin-top: auto; margin-bottom: auto; }

.margin-xxxxs { margin: $spacing-xxxxs; }
.margin-xxxs  { margin: $spacing-xxxs; }
.margin-xxs   { margin: $spacing-xxs; }
.margin-xs    { margin: $spacing-xs;  }
.margin-s     { margin: $spacing-s;   }
.margin       { margin: $spacing;     }
.margin-l     { margin: $spacing-l;   }
.margin-xl    { margin: $spacing-xl;  }
.margin-xxl   { margin: $spacing-xxl; }
.margin-xxxl  { margin: $spacing-xxxl; }
.margin-xxxxl { margin: $spacing-xxxxl; }

.negative-margin-xxxxs { margin: -$spacing-xxxxs; }
.negative-margin-xxxs  { margin: -$spacing-xxxs; }
.negative-margin-xxs   { margin: -$spacing-xxs; }
.negative-margin-xs    { margin: -$spacing-xs;  }
.negative-margin-s     { margin: -$spacing-s;   }
.negative-margin       { margin: -$spacing;     }
.negative-margin-l     { margin: -$spacing-l;   }
.negative-margin-xl    { margin: -$spacing-xl;  }
.negative-margin-xxl   { margin: -$spacing-xxl; }
.negative-margin-xxxl  { margin: -$spacing-xxxl; }
.negative-margin-xxxxl { margin: -$spacing-xxxxl; }

.margin-top    { margin-right: 0; margin-bottom: 0; margin-left:   0; }
.margin-right  { margin-top:   0; margin-bottom: 0; margin-left:   0; }
.margin-bottom { margin-top:   0; margin-right:  0; margin-left:   0; }
.margin-left   { margin-top:   0; margin-right:  0; margin-bottom: 0; }

.margin-x { margin-top:  0; margin-bottom: 0; }
.margin-y { margin-left: 0; margin-right:  0; }

//
// Borders

.border   { border: $hairline solid $border; }

.border-v { border: solid $border; border-width: $hairline 0;  }
.border-h { border: solid $border; border-width: 0   $hairline;}

.border-left   { border-left:   $hairline solid $border; }
.border-top    { border-top:    $hairline solid $border; }
.border-right  { border-right:  $hairline solid $border; }
.border-bottom { border-bottom: $hairline solid $border; }

.dotted { border-style: dotted; }
.dashed { border-style: dashed; }

//
// Text alignments

.text-align-left   { text-align: left;   }
.text-align-center { text-align: center; }
.text-align-right  { text-align: right;  }

//
// Floats

.float-left  { float: left;  }
.float-right { float: right; }

.clear-left  { clear: left;  }
.clear-right { clear: right; }
.clear-both  { clear: both; }

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

//
// Position absolutes

.pos-all    { position: absolute; left: 0; top:    0; right:  0; margin: auto; bottom: 0; }
.pos-left   { position: absolute; top:  0; bottom: 0; left:   0; margin: auto; }
.pos-right  { position: absolute; top:  0; bottom: 0; right:  0; margin: auto; }
.pos-top    { position: absolute; left: 0; right:  0; top:    0; margin: auto; }
.pos-bottom { position: absolute; left: 0; right:  0; bottom: 0; margin: auto; }

.pos-top-left     { position: absolute; top:    0; left:  0; }
.pos-top-right    { position: absolute; top:    0; right: 0; }
.pos-bottom-left  { position: absolute; bottom: 0; left:  0; }
.pos-bottom-right { position: absolute; bottom: 0; right: 0; }

.pos-center-top-left     { position: absolute; top:    50%; left:  50%; }
.pos-center-top-right    { position: absolute; top:    50%; right: 50%; }
.pos-center-bottom-left  { position: absolute; bottom: 50%; left:  50%; }
.pos-center-bottom-right { position: absolute; bottom: 50%; right: 50%; }

.absolute { position: absolute; }
.relative { position: relative; }
.fixed    { position: fixed;    }

//
// Pointer events

.no-events { pointer-events: none; }
.events    { pointer-events: all;  }

//
// Typography

.all-caps   { text-transform: uppercase;  }
.capitalize { text-transform: capitalize; }

.bold       { font-weight: bold; }
.italic     { font-style: italic; }
.underlined { text-decoration: underline;}

//
// Overflow

.nowrap {
  white-space: nowrap;
}

.text-overflow-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

//
// Blocks

.inline       { display: inline; }
.block        { display: block; }
.inline-block { display: inline-block; }

.rounded { border-radius: $main-rounding; }
.round   { border-radius: 50%; }
