//
// Settings

$font-size-multiplier: 16 / 16;
$line: 22 / (16 * $font-size-multiplier);

//
// General variables

$main-easing:        cubic-bezier(0.236, 0.000, 0.236, 1.000);
$reverse-easing:     cubic-bezier(0.618, 0.000, 0.236, 1.000);
$loop-easing:        ease-in-out;

$main-time:  200ms;
$short-time: $main-time / 1.618;
$loop-time:  $main-time * 30;

$spacing-xxxxs: $line * 0.125 * 1rem;
$spacing-xxxs:  $line * 0.250 * 1rem;
$spacing-xxs:   $line * 0.375 * 1rem;
$spacing-xs:    $line * 0.500 * 1rem;
$spacing-s:     $line * 0.750 * 1rem;
$spacing:       $line * 1.000 * 1rem;
$spacing-l:     $line * 1.500 * 1rem;
$spacing-xl:    $line * 2.000 * 1rem;
$spacing-xxl:   $line * 2.500 * 1rem;
$spacing-xxxl:  $line * 3.000 * 1rem;
$spacing-xxxxl: $line * 3.500 * 1rem;

$hairline: 1px;

$max-width: $line * 55;
$main-rounding: $line*0.250;

//
// Colors

$bg:        hsl(0,  0%,   0.0%);
$fg:        hsl(0,  0%, 100.0%);
$highlight: hsl(0,  0%, 100.0%);

$bg-mix-rate:        23.6%;
$fg-mix-rate:        23.6%;
$highlight-mix-rate: 09.0%;
