@charset "utf-8";
@viewport {width: device-width;}
// @import "normalize";

/////////////////////////////////////////////////////////
// General variables
/////////////////////////////////////////////////////////

$font-size-multiplier: 1;
$line: 1.382rem;
$max-width: $line * 30;

/////////////////////////////////////////////////////////
// Hues
/////////////////////////////////////////////////////////

$hue: 45;

$hue-xxxxx-high: $hue + (360 * 0.979);
$hue-xxxx-high: $hue + (360 * 0.965);
$hue-xxx-high: $hue + (360 * 0.944);
$hue-xx-high: $hue + (360 * 0.91);
$hue-x-high: $hue + (360 * 0.854);
$hue-high:  $hue + (360 * 0.764);

$hue-quarter-high: $hue + (360 * 0.75);
$hue-golden-high:  $hue + (360 * 0.618);
$hue-sqrt-high:    $hue + (360 * 0.586);

$hue-opposite:     $hue + (360 * 0.5);

$hue-sqrt-low:     $hue + (360 * 0.414);
$hue-golden-low:   $hue + (360 * 0.382);
$hue-quarter-low:  $hue + (360 * 0.25);

$hue-low:   $hue + (360 * 0.236);
$hue-x-low:  $hue + (360 * 0.146);
$hue-xx-low:  $hue + (360 * 0.09);
$hue-xxx-low:  $hue + (360 * 0.056);
$hue-xxxx-low:  $hue + (360 * 0.034);
$hue-xxxxx-low:  $hue + (360 * 0.021);

/////////////////////////////////////////////////////////
// Media queries
/////////////////////////////////////////////////////////

$xs2:  "#{317 / 16 * 1em}";
$xs:   "#{318 / 16 * 1em}";
$s:    "#{478 / 16 * 1em}";
$m:    "#{560 / 16 * 1em}";
$l:    "#{740 / 16 * 1em}";
$xl:   "#{960 / 16 * 1em}";
$xl2: "#{1100 / 16 * 1em}";
$xl3: "#{1200 / 16 * 1em}";
$xl4: "#{1400 / 16 * 1em}";
$xl5: "#{1700 / 16 * 1em}";
$xl6: "#{1900 / 16 * 1em}";
$xl7: "#{2300 / 16 * 1em}";

$retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

/////////////////////////////////////////////////////////
// Normalization & resets for annoyances
/////////////////////////////////////////////////////////

html * {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: inherit;
  line-height: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

html * + * {
  margin-top: $line;
}

li {
  margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-top: 0;
  padding-left: $line;
}

textarea { resize: vertical; }

button[type="button"] {
  appearance: none;
  background: none;
  border: none;
}

/////////////////////////////////////////////////////////
// Touchable things (used in addition to FastClick)
/////////////////////////////////////////////////////////

a,
button,
input,
textarea,
.touchable {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

/////////////////////////////////////////////////////////
// Font families
/////////////////////////////////////////////////////////

.text,
html {
  font-family: serif;
}

.heading,
h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}

.monospace,
code, pre {
  font-family: Menlo, Consolas, monospace, monospace;
}

/////////////////////////////////////////////////////////
// Basic styles
/////////////////////////////////////////////////////////

html {
  font-size: 100%   * $font-size-multiplier;
  font-size: 6.25vw * $font-size-multiplier;
  line-height: $line;

  @media (min-width: $xs)  { font-size: 5vw * $font-size-multiplier; }
  @media (min-width: $s)   { font-size: 3.25vw * $font-size-multiplier; }
  @media (min-width: $m)   { font-size: 3vw    * $font-size-multiplier; }
  @media (min-width: $l)   { font-size: 2.25vw * $font-size-multiplier; }
  @media (min-width: $xl)  { font-size: 1.75vw * $font-size-multiplier; }
  @media (min-width: $xl2) { font-size: 1.5vw  * $font-size-multiplier; }
  @media (min-width: $xl4) { font-size: 1.25vw * $font-size-multiplier; }
  @media (min-width: $xl5) { font-size: 1vw    * $font-size-multiplier; }
  @media (min-width: $xl7) { font-size: 0.8vw  * $font-size-multiplier; }

  background: hsl($hue-golden-high, 38.2%, 9%);
  color: hsl($hue, 14.6%, 61.8%);
  -webkit-tap-highlight-color: hsla($hue-golden-low, 100%, 61.8%, 0.5);
}

body {
  max-width: $max-width;
  margin: 0 auto;
  padding: $line * 1.5;
}

a {
  color: hsl($hue-opposite, 85.4%, 61.8%);
  text-decoration: none;

  &:hover {
    color: hsl($hue-quarter-high, 85.4%, 61.8%);
  }

  &:active {
    color: hsl($hue-quarter-low, 85.4%, 61.8%);
  }
}

h1, h2, h3, h4, h5, h6,
strong, b {
  color: hsl($hue, 23.6%, 76.4%);
}

hr {
  border-color: hsl($hue-golden-high, 9%, 23.6%);
}

code {
  color: hsl($hue-golden-high, 14.6%, 61.8%);
}

::selection {
  background: hsl($hue-opposite, 91%, 61.8%);
}

::placeholder {
  color: hsl($hue, 9%, 50%);
}

/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
