@charset "utf-8";
@viewport {width: device-width;}

//
// General variables

$font-size-multiplier: 16 / 16;
$line: 22 / 16 * 1rem;
$max-width: $line * 55;

$main-easing:        cubic-bezier(0.236, 0.000, 0.236, 1.000);
$reverse-easing:     cubic-bezier(0.618, 0.000, 0.236, 1.000);
$loop-easing:        ease-in-out;

$main-time:    200ms;
$short-time:   $main-time / 1.618;
$loop-time:    $main-time*30;

$spacing-xxs: $line*0.250;
$spacing-xs:  $line*0.375;
$spacing-s:   $line*0.500;
$spacing:     $line*1.000;
$spacing-l:   $line*1.500;
$spacing-xl:  $line*2.000;
$spacing-xxl: $line*2.500;
$hairline:    1px;

$main-rounding: $line*0.250;

//
// Colors

$hue: 202;

$hue-opposite: $hue + (360/2);
$hue-analog:   $hue - (360/8);
$hue-analog-2: $hue + (360/8);
$hue-split:    $hue + (360/2) - (360/8);
$hue-split-2:  $hue + (360/2) + (360/8);
$hue-triad:    $hue + (360/3);
$hue-triad-2:  $hue + (360/3*2);
$hue-square:   $hue + (360/4);
$hue-square-2: $hue + (360/4*3);

$hue-bg:  $hue;
$hue-fg:  $hue-split-2;
$hue-alt: $hue-split;

$colorfulness: 1.0;

$dimmer:     hsl($hue-bg, 100%*$colorfulness, 05.6%);
$emphasizer: hsl($hue-fg, 100%*$colorfulness, 94.4%);

$background:    hsl($hue-bg,  50.0%*$colorfulness,  9.0%);
$body:          hsl($hue-fg,   9.0%*$colorfulness, 61.8%);
$alt-body:      hsl($hue-alt,  9.0%*$colorfulness, 61.8%);

$highlight:     hsl($hue-fg,  76.4%, 61.8%);
$alt-highlight: hsl($hue-alt, 76.4%, 61.8%);

$off-background: mix($emphasizer, $background,    14.6%);
$border:         mix($emphasizer, $background,    50.0%);

$aside:          mix($dimmer,     $body,          23.6%);
$alt-aside:      mix($dimmer,     $alt-body,      23.6%);

$strong:         mix($emphasizer, $body,          23.6%);
$alt-strong:     mix($emphasizer, $alt-body,      23.6%);

//
// Media queries

$retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

//
// Imports

@import "reset";
@import "layout";
@import "forms";

//
// Typography

html {
  font-family: sans-serif;
  font-weight: 400;
}

.size-0 { font-size: 0.813rem; line-height: $line*0.727272727; }
.size-1 { font-size: 1.000rem; line-height: $line*1.00; }
.size-2 { font-size: 1.236rem; line-height: $line*1.00; }
.size-3 { font-size: 1.382rem; line-height: $line*1.00; }
.size-4 { font-size: 1.618rem; line-height: $line*1.50; }
.size-5 { font-size: 2.150rem; line-height: $line*1.50; }
.size-6 { font-size: 2.618rem; line-height: $line*2.00; }
.size-7 { font-size: 4.236rem; line-height: $line*3.25; }

.lighter           { font-weight: 200; }
.light             { font-weight: 300; }
.medium            { font-weight: 400; }
.strong, strong, b { font-weight: 500; }
.stronger          { font-weight: 600; }
.strongest         { font-weight: 700; }

.all-caps   { text-transform: uppercase;  }
.capitalize { text-transform: capitalize; }

a {
  color: $highlight;
  text-decoration: none;

  &:hover {
    color: mix($emphasizer, $highlight, 23.6%);
  }

  &:active {
    color: mix($dimmer, $highlight, 23.6%);
  }
}

.underlined {
  background-image: linear-gradient(currentcolor);
  background-size: $hairline $hairline;
  background-position: 0 1.15em;
  background-repeat: repeat-x;
  text-shadow:
    $hairline 0 0  $background,
    -$hairline 0 0 $background
  ;

  &:hover,
  &:focus {
    background-image: none;
  }

  &:active,
  &.active {
    background-image: none;
    color: inherit;
  }
}

::selection {
  background: $highlight;
  color: $strong;
}

::placeholder {
  color: $aside;
}

//
// Root styles

* {
  transition-property: transform, opacity;
  transition-duration: $main-time;
  transition-timing-function: $main-easing;
}

html {
  font-size: 100% * $font-size-multiplier;
  line-height: $line;
  background: $background;
  color: $body;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  margin: 0 auto;
  max-width: 100%;
  overflow: hidden;
  overflow-y: visible;
}

/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
