@charset "utf-8";
@viewport {width: device-width;}

//
// General variables

$font-size-multiplier: 16/16;
$line: 1.382rem;
$narrower-word-spacing: -0.236em;
$max-width: $line * 28;

$main-easing:        cubic-bezier(0.236, 0.000, 0.236, 1.000);
$reverse-easing:     cubic-bezier(0.618, 0.000, 0.236, 1.000);
$loop-easing:        ease-in-out;

$main-time: 200ms;
$short-time: 124ms;
$loop-time: 6000ms;

//
// Colors

$hue: 202;
$hue-increment: 1.618;

$hue-1:  $hue + (360/$hue-increment) *  1;
$hue-2:  $hue + (360/$hue-increment) *  2;
$hue-3:  $hue + (360/$hue-increment) *  3;
$hue-4:  $hue + (360/$hue-increment) *  4;
$hue-5:  $hue + (360/$hue-increment) *  5;
$hue-6:  $hue + (360/$hue-increment) *  6;
$hue-7:  $hue + (360/$hue-increment) *  7;
$hue-8:  $hue + (360/$hue-increment) *  8;
$hue-9:  $hue + (360/$hue-increment) *  9;
$hue-10: $hue + (360/$hue-increment) * 10;
$hue-11: $hue + (360/$hue-increment) * 11;
$hue-12: $hue + (360/$hue-increment) * 12;
$hue-13: $hue + (360/$hue-increment) * 13;

$background: hsl($hue-1,  0%, 100%);

$bright: hsl($hue, 0%, 5.6%);
$body:   hsl($hue, 0%, 9%);
$dim:    hsl($hue, 0%, 38.2%);

$alt-bright: hsl($hue-1, 50%, 5.6%);
$alt-body:   hsl($hue-1, 50%, 9%);
$alt-dim:    hsl($hue-1, 50%, 38.2%);

$shadow:      hsl($hue, 50%, 5.6%);
$border:      hsl($hue, 9%, 41.4%);

$highlight:      hsl($hue, 76.4%, 61.8%);
$alt-highlight:  hsl($hue-1, 38.2%, 50%);

//
// Media queries

$xs2:  "#{317 / 16 * 1em}";
$xs:   "#{318 / 16 * 1em}";
$s:    "#{478 / 16 * 1em}";
$m:    "#{560 / 16 * 1em}";
$l:    "#{740 / 16 * 1em}";
$xl:   "#{960 / 16 * 1em}";
$xl2: "#{1100 / 16 * 1em}";
$xl3: "#{1200 / 16 * 1em}";
$xl4: "#{1400 / 16 * 1em}";
$xl5: "#{1700 / 16 * 1em}";
$xl6: "#{1900 / 16 * 1em}";
$xl7: "#{2300 / 16 * 1em}";

$retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

//
// Imports

@import "reset";

//
// Font families

html {
  font-family: serif;
}

//
// Basic styles

html {
  font-size: 100% * $font-size-multiplier;
  line-height: $line;
  background: $background;
  color: $body;
  -webkit-tap-highlight-color: hsla($hue-1, 100%, 61.8%, 0.5);
}

body {
  max-width: $max-width;
  margin: 0 auto;
  padding: $line * 1.5;
}

a {
  color: $highlight;
  text-decoration: none;

  &:hover {
    color: $bright;
  }

  &:active {
    color: $dim;
  }
}

h1, h2, h3, h4, h5, h6,
strong, b {
  color: $bright;
}

hr {
  border-color: $border;
}

code {
  color: $alt-body;
}

::selection {
  background: $highlight;
}

::placeholder {
  color: $dim;
}

/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
