//
// Flexbox splitter

.splitter {
  display: flex;
  align-items: stretch;

  &.wrap         { flex-wrap: wrap; }
  &.inline       { display: inline-flex; }

  &.align-start    { align-items: flex-start; }
  &.align-center   { align-items: center; }
  &.align-end      { align-items: flex-end; }
  &.align-baseline { align-items: baseline; }

  &.justify        { justify-content: space-between; }
  &.justify-around { justify-content: space-around; }
  &.justify-center { justify-content: center; }
  &.justify-end    { justify-content: flex-end; }

  &.vertical         { flex-direction: column; }
  &.vertical-reverse { flex-direction: column-reverse; }
  &.reverse          { flex-direction: row-reverse; }
}

.auto-stretch > * {
  flex-basis: auto;
  flex-grow: 1;
}

//
// Auto-margins

.auto-margins-v-xxs > * + * { margin-top: $spacing-xxs; }
.auto-margins-v-xs  > * + * { margin-top: $spacing-xs;  }
.auto-margins-v-s   > * + * { margin-top: $spacing-s;   }
.auto-margins-v     > * + * { margin-top: $spacing;     }
.auto-margins-v-l   > * + * { margin-top: $spacing-l;   }
.auto-margins-v-xl  > * + * { margin-top: $spacing-xl;  }
.auto-margins-v-xxl > * + * { margin-top: $spacing-xxl; }

.auto-margins-h-xxs > * + * { margin-left: $spacing-xxs; }
.auto-margins-h-xs  > * + * { margin-left: $spacing-xs;  }
.auto-margins-h-s   > * + * { margin-left: $spacing-s;   }
.auto-margins-h     > * + * { margin-left: $spacing;     }
.auto-margins-h-l   > * + * { margin-left: $spacing-l;   }
.auto-margins-h-xl  > * + * { margin-left: $spacing-xl;  }
.auto-margins-h-xxl > * + * { margin-left: $spacing-xxl; }

.auto-margins-v-hairline > * + * { margin-top:  $hairline; }
.auto-margins-h-hairline > * + * { margin-left: $hairline; }

//
// Auto-borders

.auto-borders >   *,
.auto-borders-v > *,
.auto-borders-h > * { border: 0 solid $border; }

.auto-borders         { border: 0 solid $border; border-width: 1px 0 0 1px; }
.auto-borders > * + * { border-width: 0 1px 1px 0; }

.auto-borders-v > * + * { border-top-width:  $hairline; }
.auto-borders-h > * + * { border-left-width: $hairline; }

//
// Paddings

.padding-xxs { padding: $spacing-xxs; }
.padding-xs  { padding: $spacing-xs;  }
.padding-s   { padding: $spacing-s;   }
.padding     { padding: $spacing;     }
.padding-l   { padding: $spacing-l;   }
.padding-xl  { padding: $spacing-xl;  }
.padding-xxl { padding: $spacing-xxl; }

.padding-v-xxs { padding: $spacing-xxs 0; }
.padding-v-xs  { padding: $spacing-xs 0;  }
.padding-v-s   { padding: $spacing-s 0;   }
.padding-v     { padding: $spacing 0;     }
.padding-v-l   { padding: $spacing-l 0;   }
.padding-v-xl  { padding: $spacing-xl 0;  }
.padding-v-xxl { padding: $spacing-xxl 0; }

.padding-h-xxs { padding: 0 $spacing-xxs; }
.padding-h-xs  { padding: 0 $spacing-xs;  }
.padding-h-s   { padding: 0 $spacing-s;   }
.padding-h     { padding: 0 $spacing;     }
.padding-h-l   { padding: 0 $spacing-l;   }
.padding-h-xl  { padding: 0 $spacing-xl;  }
.padding-h-xxl { padding: 0 $spacing-xxl; }

.padding-hairline   { padding: $hairline;   }
.padding-v-hairline { padding: $hairline 0; }
.padding-h-hairline { padding: 0 $hairline; }

.padding-top-xxs { padding-top: $spacing-xxs; }
.padding-top-xs  { padding-top: $spacing-xs;  }
.padding-top-s   { padding-top: $spacing-s;   }
.padding-top     { padding-top: $spacing;     }
.padding-top-l   { padding-top: $spacing-l;   }
.padding-top-xl  { padding-top: $spacing-xl;  }
.padding-top-xxl { padding-top: $spacing-xxl; }

.padding-right-xxs { padding-right: $spacing-xxs; }
.padding-right-xs  { padding-right: $spacing-xs;  }
.padding-right-s   { padding-right: $spacing-s;   }
.padding-right     { padding-right: $spacing;     }
.padding-right-l   { padding-right: $spacing-l;   }
.padding-right-xl  { padding-right: $spacing-xl;  }
.padding-right-xxl { padding-right: $spacing-xxl; }

.padding-bottom-xxs { padding-bottom: $spacing-xxs; }
.padding-bottom-xs  { padding-bottom: $spacing-xs;  }
.padding-bottom-s   { padding-bottom: $spacing-s;   }
.padding-bottom     { padding-bottom: $spacing;     }
.padding-bottom-l   { padding-bottom: $spacing-l;   }
.padding-bottom-xl  { padding-bottom: $spacing-xl;  }
.padding-bottom-xxl { padding-bottom: $spacing-xxl; }

.padding-left-xxs { padding-left: $spacing-xxs; }
.padding-left-xs  { padding-left: $spacing-xs;  }
.padding-left-s   { padding-left: $spacing-s;   }
.padding-left     { padding-left: $spacing;     }
.padding-left-l   { padding-left: $spacing-l;   }
.padding-left-xl  { padding-left: $spacing-xl;  }
.padding-left-xxl { padding-left: $spacing-xxl; }

.padding-top-hairline    { padding-top:    $hairline; }
.padding-right-hairline  { padding-right:  $hairline; }
.padding-bottom-hairline { padding-bottom: $hairline; }
.padding-left-hairline   { padding-left:   $hairline; }

//
// Margins

.margin-xxs { margin: $spacing-xxs; }
.margin-xs  { margin: $spacing-xs;  }
.margin-s   { margin: $spacing-s;   }
.margin     { margin: $spacing;     }
.margin-l   { margin: $spacing-l;   }
.margin-xl  { margin: $spacing-xl;  }
.margin-xxl { margin: $spacing-xxl; }

.margin-v-xxs { margin: $spacing-xxs 0; }
.margin-v-xs  { margin: $spacing-xs 0;  }
.margin-v-s   { margin: $spacing-s 0;   }
.margin-v     { margin: $spacing 0;     }
.margin-v-l   { margin: $spacing-l 0;   }
.margin-v-xl  { margin: $spacing-xl 0;  }
.margin-v-xxl { margin: $spacing-xxl 0; }

.margin-h-xxs { margin: 0 $spacing-xxs; }
.margin-h-xs  { margin: 0 $spacing-xs;  }
.margin-h-s   { margin: 0 $spacing-s;   }
.margin-h     { margin: 0 $spacing;     }
.margin-h-l   { margin: 0 $spacing-l;   }
.margin-h-xl  { margin: 0 $spacing-xl;  }
.margin-h-xxl { margin: 0 $spacing-xxl; }

.margin-hairline   { margin: $hairline;   }
.margin-v-hairline { margin: $hairline 0; }
.margin-h-hairline { margin: 0 $hairline; }

.margin-top-xxs { margin-top: $spacing-xxs; }
.margin-top-xs  { margin-top: $spacing-xs;  }
.margin-top-s   { margin-top: $spacing-s;   }
.margin-top     { margin-top: $spacing;     }
.margin-top-l   { margin-top: $spacing-l;   }
.margin-top-xl  { margin-top: $spacing-xl;  }
.margin-top-xxl { margin-top: $spacing-xxl; }

.margin-right-xxs { margin-right: $spacing-xxs; }
.margin-right-xs  { margin-right: $spacing-xs;  }
.margin-right-s   { margin-right: $spacing-s;   }
.margin-right     { margin-right: $spacing;     }
.margin-right-l   { margin-right: $spacing-l;   }
.margin-right-xl  { margin-right: $spacing-xl;  }
.margin-right-xxl { margin-right: $spacing-xxl; }

.margin-bottom-xxs { margin-bottom: $spacing-xxs; }
.margin-bottom-xs  { margin-bottom: $spacing-xs;  }
.margin-bottom-s   { margin-bottom: $spacing-s;   }
.margin-bottom     { margin-bottom: $spacing;     }
.margin-bottom-l   { margin-bottom: $spacing-l;   }
.margin-bottom-xl  { margin-bottom: $spacing-xl;  }
.margin-bottom-xxl { margin-bottom: $spacing-xxl; }

.margin-left-xxs { margin-left: $spacing-xxs; }
.margin-left-xs  { margin-left: $spacing-xs;  }
.margin-left-s   { margin-left: $spacing-s;   }
.margin-left     { margin-left: $spacing;     }
.margin-left-l   { margin-left: $spacing-l;   }
.margin-left-xl  { margin-left: $spacing-xl;  }
.margin-left-xxl { margin-left: $spacing-xxl; }

.margin-top-hairline    { margin-top:    $hairline; }
.margin-right-hairline  { margin-right:  $hairline; }
.margin-bottom-hairline { margin-bottom: $hairline; }
.margin-left-hairline   { margin-left:   $hairline; }

//
// Borders

.borders   { border: 1px solid $border; }

.borders-v { border: solid $border; border-width: 1px 0;  }
.borders-h { border: solid $border; border-width: 0   1px;}

.border-left   { border-left:   1px solid $border; }
.border-top    { border-top:    1px solid $border; }
.border-right  { border-right:  1px solid $border; }
.border-bottom { border-bottom: 1px solid $border; }

//
// Alignments

.align-left   { text-align: left;   }
.align-center { text-align: center; }
.align-right  { text-align: right;  }

//
// Floats

.hang-left  { float: left;  }
.hang-right { float: right; }

//
// Position absolutes

.pos-all    { position: absolute; left: 0; top:    0; right:  0; margin: auto; bottom: 0; }
.pos-left   { position: absolute; top:  0; bottom: 0; left:   0; margin: auto; }
.pos-right  { position: absolute; top:  0; bottom: 0; right:  0; margin: auto; }
.pos-top    { position: absolute; left: 0; right:  0; top:    0; margin: auto; }
.pos-bottom { position: absolute; left: 0; right:  0; bottom: 0; margin: auto; }

.pos-top-left     { position: absolute; top:    0; left:  0; }
.pos-top-right    { position: absolute; top:    0; right: 0; }
.pos-bottom-left  { position: absolute; bottom: 0; left:  0; }
.pos-bottom-right { position: absolute; bottom: 0; right: 0; }

.pos-center-top-left     { position: absolute; top:    50%; left:  50%; }
.pos-center-top-right    { position: absolute; top:    50%; right: 50%; }
.pos-center-bottom-left  { position: absolute; bottom: 50%; left:  50%; }
.pos-center-bottom-right { position: absolute; bottom: 50%; right: 50%; }

.relative { position: relative; }
.fixed    { position: fixed;    }

//
// Transforms

.translate-half-up-left    { transform: translate(-50%, -50%); }
.translate-half-up-right   { transform: translate( 50%, -50%); }
.translate-half-down-left  { transform: translate(-50%,  50%); }
.translate-half-down-right { transform: translate( 50%,  50%); }

.translate-full-up-left    { transform: translate(-100%, -100%); }
.translate-full-up-right   { transform: translate( 100%, -100%); }
.translate-full-down-left  { transform: translate(-100%,  100%); }
.translate-full-down-right { transform: translate( 100%,  100%); }

.translate-half-left  { transform: translateX(-50%); }
.translate-half-right { transform: translateX( 50%); }
.translate-half-up    { transform: translateY(-50%); }
.translate-half-down  { transform: translateY( 50%); }

.translate-full-left  { transform: translateX(-100%); }
.translate-full-right { transform: translateX( 100%); }
.translate-full-up    { transform: translateY(-100%); }
.translate-full-down  { transform: translateY( 100%); }

.rotate-right-45  { transform: rotate( 45deg); }
.rotate-right-90  { transform: rotate( 90deg); }
.rotate-right-180 { transform: rotate(180deg); }
.rotate-right-270 { transform: rotate(270deg); }

.rotate-left-45  { transform: rotate( -45deg); }
.rotate-left-90  { transform: rotate( -90deg); }
.rotate-left-180 { transform: rotate(-180deg); }
.rotate-left-270 { transform: rotate(-270deg); }

//
// Pointer events

.no-events { pointer-events: none; }
.events    { pointer-events: all;  }

//
// Typography

.all-caps   { text-transform: uppercase;  }
.capitalize { text-transform: capitalize; }
