@charset "utf-8";

/*
  These are non-project-specific classes.
  You hopefully won't have to edit these. */

/*
  Flexbox */

.flex {
  display: flex;
  align-items: stretch;
}

.grow,
.grow-children > * {
  flex-basis: auto;
  flex-grow: 1;
}

.even,
.even-children > * {
  flex-basis: 0;
  flex-grow: 1;
}

.wrap         { flex-wrap: wrap; }
.flex.inline  { display: inline-flex; }

.align-stretch  { align-items: stretch; }
.align-start    { align-items: flex-start; }
.align-center   { align-items: center; }
.align-end      { align-items: flex-end; }
.align-baseline { align-items: baseline; }

.justify        { justify-content: space-between; }
.justify-around { justify-content: space-around; }
.justify-start  { justify-content: flex-start; }
.justify-center { justify-content: center; }
.justify-end    { justify-content: flex-end; }

.vertical         { flex-direction: column; }
.vertical-reverse { flex-direction: column-reverse; }
.reverse          { flex-direction: row-reverse; }

.content-stretch        { align-content: stretch; }
.content-start          { align-content: flex-start; }
.content-center         { align-content: center; }
.content-end            { align-content: flex-end; }
.content-justify        { align-content: space-between; }
.content-justify-around { align-content: space-around; }

.self-stretch  { align-self: stretch; }
.self-start    { align-self: flex-start; }
.self-center   { align-self: center; }
.self-end      { align-self: flex-end; }
.self-baseline { align-self: baseline; }

/*
  Automatical margins between child elements
  (aligned to a 1rem baseline grid) */

.child-margins-x-0-125 > * + * { margin-left: 0.125rem; }
.child-margins-x-0-25  > * + * { margin-left: 0.25rem; }
.child-margins-x-0-5   > * + * { margin-left: 0.5rem; }
.child-margins-x-0-75  > * + * { margin-left: 0.75rem; }
.child-margins-x-0-875 > * + * { margin-left: 0.875rem; }
.child-margins-x-1     > * + * { margin-left: 1rem; }
.child-margins-x-1-25  > * + * { margin-left: 1.25rem; }
.child-margins-x-1-5   > * + * { margin-left: 1.5rem; }
.child-margins-x-1-75  > * + * { margin-left: 1.75rem; }
.child-margins-x-2     > * + * { margin-left: 2rem; }
.child-margins-x-3     > * + * { margin-left: 3rem; }
.child-margins-x-4     > * + * { margin-left: 4rem; }
.child-margins-x-5     > * + * { margin-left: 5rem; }

.child-margins-y-0-125 > * + * { margin-top: 0.125rem; }
.child-margins-y-0-25  > * + * { margin-top: 0.25rem; }
.child-margins-y-0-5   > * + * { margin-top: 0.5rem; }
.child-margins-y-0-75  > * + * { margin-top: 0.75rem; }
.child-margins-y-0-875 > * + * { margin-top: 0.875rem; }
.child-margins-y-1     > * + * { margin-top: 1rem; }
.child-margins-y-1-25  > * + * { margin-top: 1.25rem; }
.child-margins-y-1-5   > * + * { margin-top: 1.5rem; }
.child-margins-y-1-75  > * + * { margin-top: 1.75rem; }
.child-margins-y-2     > * + * { margin-top: 2rem; }
.child-margins-y-3     > * + * { margin-top: 3rem; }
.child-margins-y-4     > * + * { margin-top: 4rem; }
.child-margins-y-5     > * + * { margin-top: 5rem; }

.child-margins-x > * + * { margin-left: 1px; }
.child-margins-y > * + * { margin-top:  1px; }

/*
  Automatical borders around child elements
  (aligned to a 1rem baseline grid) */

.child-borders-x-0-125 > * + * { border-left: 0.125rem solid; }
.child-borders-x-0-25  > * + * { border-left: 0.25rem solid; }
.child-borders-x-0-5   > * + * { border-left: 0.5rem solid; }
.child-borders-x-0-75  > * + * { border-left: 0.75rem solid; }
.child-borders-x-0-875 > * + * { border-left: 0.875rem solid; }
.child-borders-x-1     > * + * { border-left: 1rem solid; }
.child-borders-x-1-25  > * + * { border-left: 1.25rem solid; }
.child-borders-x-1-5   > * + * { border-left: 1.5rem solid; }
.child-borders-x-1-75  > * + * { border-left: 1.75rem solid; }
.child-borders-x-2     > * + * { border-left: 2rem solid; }
.child-borders-x-3     > * + * { border-left: 3rem solid; }
.child-borders-x-4     > * + * { border-left: 4rem solid; }
.child-borders-x-5     > * + * { border-left: 5rem solid; }

.child-borders-y-0-125 > * + * { border-top: 0.125rem solid; }
.child-borders-y-0-25  > * + * { border-top: 0.25rem solid; }
.child-borders-y-0-5   > * + * { border-top: 0.5rem solid; }
.child-borders-y-0-75  > * + * { border-top: 0.75rem solid; }
.child-borders-y-0-875 > * + * { border-top: 0.875rem solid; }
.child-borders-y-1     > * + * { border-top: 1rem solid; }
.child-borders-y-1-25  > * + * { border-top: 1.25rem solid; }
.child-borders-y-1-5   > * + * { border-top: 1.5rem solid; }
.child-borders-y-1-75  > * + * { border-top: 1.75rem solid; }
.child-borders-y-2     > * + * { border-top: 2rem solid; }
.child-borders-y-3     > * + * { border-top: 3rem solid; }
.child-borders-y-4     > * + * { border-top: 4rem solid; }
.child-borders-y-5     > * + * { border-top: 5rem solid; }

.child-borders-x > * + * { border-left: 1px solid; }
.child-borders-y > * + * { border-top:  1px solid; }

/*
  Misc useful classes */

.margin-auto   { margin: auto; }
.margin-auto-x { margin-left: auto; margin-right: auto; }
.margin-auto-y { margin-top: auto; margin-bottom: auto; }

.dotted { border-style: dotted; }
.dashed { border-style: dashed; }

.dotted-outline { outline-style: dotted; }
.dashed-outline { outline-style: dashed; }

.round { border-radius: 50%; }

/*
  Text alignments */

.text-align-left   { text-align: left;   }
.text-align-center { text-align: center; }
.text-align-right  { text-align: right;  }

/*
  Floats
  (Hopefully these are no longer needed) */

.float-left  { float: left;  }
.float-right { float: right; }

.clear-left  { clear: left;  }
.clear-right { clear: right; }
.clear-both  { clear: both;  }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*
  Useful position classes */

.position-all    { position: absolute; left: 0; top:    0; right:  0; margin: auto; bottom: 0; }
.position-left   { position: absolute; top:  0; bottom: 0; left:   0; margin: auto; }
.position-right  { position: absolute; top:  0; bottom: 0; right:  0; margin: auto; }
.position-top    { position: absolute; left: 0; right:  0; top:    0; margin: auto; }
.position-bottom { position: absolute; left: 0; right:  0; bottom: 0; margin: auto; }

.position-top-left     { position: absolute; top:    0; left:  0; }
.position-top-right    { position: absolute; top:    0; right: 0; }
.position-bottom-left  { position: absolute; bottom: 0; left:  0; }
.position-bottom-right { position: absolute; bottom: 0; right: 0; }

.position-center-off-top-left     { position: absolute; top:    50%; left:  50%; }
.position-center-off-top-right    { position: absolute; top:    50%; right: 50%; }
.position-center-off-bottom-left  { position: absolute; bottom: 50%; left:  50%; }
.position-center-off-bottom-right { position: absolute; bottom: 50%; right: 50%; }

.absolute { position: absolute; }
.relative { position: relative; }
.fixed    { position: fixed;    }

/*
  Pointer events */

.no-events { pointer-events: none; }
.events    { pointer-events: all;  }

.no-user-select { user-select: none; }
.user-select    { user-select: none; }

/*
  Useful typography classes */

.all-caps   { text-transform: uppercase;  }
.bold       { font-weight: bold; }
.italic     { font-style: italic; }

.underlined {
  border-bottom: 1px solid;
}

/*
  Overflow */

.nowrap {
  white-space: nowrap;
}

.text-overflow-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.word-break {
  word-break: break-word;
}

/*
  Blocks */

.inline       { display: inline; }
.block        { display: block; }
.inline-block { display: inline-block; }
