@charset "utf-8";

/*
  These are non-project-specific classes.
  You hopefully won't have to edit these. */

/*
  Flexbox */

.flex {
  display: flex;
  align-items: stretch;
}

.grow,
.grow-children > * {
  flex-basis: auto;
  flex-grow: 1;
}

.even,
.even-children > * {
  flex-basis: 0;
  flex-grow: 1;
}

.wrap         { flex-wrap: wrap; }
.flex.inline  { display: inline-flex; }

.align-stretch  { align-items: stretch; }
.align-start    { align-items: flex-start; }
.align-center   { align-items: center; }
.align-end      { align-items: flex-end; }
.align-baseline { align-items: baseline; }

.justify        { justify-content: space-between; }
.justify-around { justify-content: space-around; }
.justify-start  { justify-content: flex-start; }
.justify-center { justify-content: center; }
.justify-end    { justify-content: flex-end; }

.vertical         { flex-direction: column; }
.vertical-reverse { flex-direction: column-reverse; }
.reverse          { flex-direction: row-reverse; }

.content-stretch        { align-content: stretch; }
.content-start          { align-content: flex-start; }
.content-center         { align-content: center; }
.content-end            { align-content: flex-end; }
.content-justify        { align-content: space-between; }
.content-justify-around { align-content: space-around; }

.self-stretch  { align-self: stretch; }
.self-start    { align-self: flex-start; }
.self-center   { align-self: center; }
.self-end      { align-self: flex-end; }
.self-baseline { align-self: baseline; }

/*
  Widths and heights
  (aligned to a 1rem baseline grid) */

.width-100       { width: 100%; }
.min-width-100   { min-width: 100%; }
.width-auto      { width: auto; }
.width-100vw     { width: 100vw; }
.min-width-100vw { min-width: 100vw; }
.width           { width: 1px; }

.width-0-125 { width: 0.125rem; }
.width-0-25  { width: 0.25rem; }
.width-0-5   { width: 0.5rem; }
.width-0-75  { width: 0.75rem; }
.width-1     { width: 1rem; }
.width-1-25  { width: 1.25rem; }
.width-1-5   { width: 1.5rem; }
.width-2     { width: 2rem; }
.width-3     { width: 3rem; }
.width-4     { width: 4rem; }
.width-5     { width: 5rem; }

.height-100       { height: 100%; }
.min-height-100   { min-height: 100%; }
.height-auto      { height: auto; }
.height-100vh     { height: 100vh; }
.min-height-100vh { min-height: 100vh; }
.height           { height: 1px; }

.height-0-125 { height: 0.125rem; }
.height-0-25  { height: 0.25rem; }
.height-0-5   { height: 0.5rem; }
.height-0-75  { height: 0.75rem; }
.height-1     { height: 1rem; }
.height-1-25  { height: 1.25rem; }
.height-1-5   { height: 1.5rem; }
.height-2     { height: 2rem; }
.height-3     { height: 3rem; }
.height-4     { height: 4rem; }
.height-5     { height: 5rem; }

/*
  Automatical margins between child elements
  (aligned to a 1rem baseline grid) */

.child-margins-x-0-125 > * + * { margin-left: 0.125rem; }
.child-margins-x-0-25  > * + * { margin-left: 0.25rem; }
.child-margins-x-0-5   > * + * { margin-left: 0.5rem; }
.child-margins-x-0-75  > * + * { margin-left: 0.75rem; }
.child-margins-x-1     > * + * { margin-left: 1rem; }
.child-margins-x-1-25  > * + * { margin-left: 1.25rem; }
.child-margins-x-1-5   > * + * { margin-left: 1.5rem; }
.child-margins-x-2     > * + * { margin-left: 2rem; }
.child-margins-x-3     > * + * { margin-left: 3rem; }
.child-margins-x-4     > * + * { margin-left: 4rem; }
.child-margins-x-5     > * + * { margin-left: 5rem; }

.child-margins-y-0-125 > * + * { margin-top: 0.125rem; }
.child-margins-y-0-25  > * + * { margin-top: 0.25rem; }
.child-margins-y-0-5   > * + * { margin-top: 0.5rem; }
.child-margins-y-0-75  > * + * { margin-top: 0.75rem; }
.child-margins-y-1     > * + * { margin-top: 1rem; }
.child-margins-y-1-25  > * + * { margin-top: 1.25rem; }
.child-margins-y-1-5   > * + * { margin-top: 1.5rem; }
.child-margins-y-2     > * + * { margin-top: 2rem; }
.child-margins-y-3     > * + * { margin-top: 3rem; }
.child-margins-y-4     > * + * { margin-top: 4rem; }
.child-margins-y-5     > * + * { margin-top: 5rem; }

.child-margins-x > * + * { margin-left: 1px; }
.child-margins-y > * + * { margin-top:  1px; }

/*
  Automatical borders around child elements */

.child-borders   > *,
.child-borders-x > *,
.child-borders-y > * { border: 0 solid; }

.child-borders         { border: 0 solid; border-width: 1px 0 0 1px; }
.child-borders > * + * { border-width: 0 1px 1px 0; }

.child-borders-x > * + * { border-left-width: 1px; }
.child-borders-y > * + * { border-top-width:  1px; }

/*
  Paddings, used like this:
  .padding-1
  .padding-1.padding-x
  .padding-1.padding-top
  If you want different sized paddings on the same element,
  use another element as a wrapper.
  (aligned to a 1rem baseline grid) */

.padding { padding: 1px; }

.padding-0-125 { padding: 0.125rem; }
.padding-0-25  { padding: 0.25rem; }
.padding-0-5   { padding: 0.5rem; }
.padding-0-75  { padding: 0.75rem; }
.padding-1     { padding: 1rem; }
.padding-1-25  { padding: 1.25rem; }
.padding-1-5   { padding: 1.5rem; }
.padding-2     { padding: 2rem; }
.padding-3     { padding: 3rem; }
.padding-4     { padding: 4rem; }
.padding-5     { padding: 5rem; }

.padding-top    { padding-right: 0; padding-bottom: 0; padding-left:   0; }
.padding-right  { padding-top:   0; padding-bottom: 0; padding-left:   0; }
.padding-bottom { padding-top:   0; padding-right:  0; padding-left:   0; }
.padding-left   { padding-top:   0; padding-right:  0; padding-bottom: 0; }

.padding-x { padding-top:  0; padding-bottom: 0; }
.padding-y { padding-left: 0; padding-right:  0; }

.padding-top-0    { padding-top: 0; }
.padding-right-0  { padding-right: 0; }
.padding-bottom-0 { padding-bottom: 0; }
.padding-left-0   { padding-left: 0; }

/*
  Margins, used the same as paddings (see above).
  (aligned to a 1rem baseline grid) */

.margin-auto   { margin: auto; }
.margin-auto-x { margin-left: auto; margin-right: auto; }
.margin-auto-y { margin-top: auto; margin-bottom: auto; }

.margin { margin: 1px; }

.margin-0-125 { margin: 0.125rem; }
.margin-0-25  { margin: 0.25rem; }
.margin-0-5   { margin: 0.5rem; }
.margin-0-75  { margin: 0.75rem; }
.margin-1     { margin: 1rem; }
.margin-1-25  { margin: 1.25rem; }
.margin-1-5   { margin: 1.5rem; }
.margin-2     { margin: 2rem; }
.margin-3     { margin: 3rem; }
.margin-4     { margin: 4rem; }
.margin-5     { margin: 5rem; }

.negative-margin-0-125 { margin: -0.125rem; }
.negative-margin-0-25  { margin: -0.25rem; }
.negative-margin-0-5   { margin: -0.5rem; }
.negative-margin-0-75  { margin: -0.75rem; }
.negative-margin-1     { margin: -1rem; }
.negative-margin-1-25  { margin: -1.25rem; }
.negative-margin-1-5   { margin: -1.5rem; }
.negative-margin-2     { margin: -2rem; }
.negative-margin-3     { margin: -3rem; }
.negative-margin-4     { margin: -4rem; }
.negative-margin-5     { margin: -5rem; }

.margin-top    { margin-right: 0; margin-bottom: 0; margin-left:   0; }
.margin-right  { margin-top:   0; margin-bottom: 0; margin-left:   0; }
.margin-bottom { margin-top:   0; margin-right:  0; margin-left:   0; }
.margin-left   { margin-top:   0; margin-right:  0; margin-bottom: 0; }

.margin-x { margin-top:  0; margin-bottom: 0; }
.margin-y { margin-left: 0; margin-right:  0; }

.margin-top-0    { margin-top: 0; }
.margin-right-0  { margin-right: 0; }
.margin-bottom-0 { margin-bottom: 0; }
.margin-left-0   { margin-left: 0; }

/*
  Borders */

.border       { border: 1px solid; }
.border-0-125 { border: 0.125rem solid; }
.border-0-25  { border: 0.25rem solid; }
.border-0-5   { border: 0.5rem solid; }
.border-0-75  { border: 0.75rem solid; }
.border-1     { border: 1rem solid; }
.border-1-25  { border: 1.25rem solid; }
.border-1-5   { border: 1.5rem solid; }
.border-2     { border: 2rem solid; }
.border-3     { border: 3rem solid; }
.border-4     { border: 4rem solid; }
.border-5     { border: 5rem solid; }

.border-left   { border-left:   1px solid; }
.border-top    { border-top:    1px solid; }
.border-right  { border-right:  1px solid; }
.border-bottom { border-bottom: 1px solid; }

.border-x { border-top-width:  0; border-bottom-width: 0; }
.border-y { border-left-width: 0; border-right-width:  0; }

.border-top-0    { border-top-width: 0; }
.border-right-0  { border-right-width: 0; }
.border-bottom-0 { border-bottom-width: 0; }
.border-left-0   { border-left-width: 0; }

.dotted { border-style: dotted; }
.dashed { border-style: dashed; }

/*
  Outlines */

.outline          { outline: 1px solid; }
.outline-0-125    { outline: 0.125rem solid; }
.outline-0-25     { outline: 0.25rem solid; }
.outline-0-5      { outline: 0.5rem solid; }
.outline-0-75     { outline: 0.75rem solid; }
.outline-1        { outline: 1rem solid; }
.outline-1-25     { outline: 1.25rem solid; }
.outline-1-5      { outline: 1.5rem solid; }
.outline-2        { outline: 2rem solid; }
.outline-3        { outline: 3rem solid; }
.outline-4        { outline: 4rem solid; }
.outline-5        { outline: 5rem solid; }

.dotted-outline { outline-style: dotted; }
.dashed-outline { outline-style: dashed; }

/*
  Text alignments */

.text-align-left   { text-align: left;   }
.text-align-center { text-align: center; }
.text-align-right  { text-align: right;  }

/*
  Floats
  (Hopefully these are no longer needed) */

.float-left  { float: left;  }
.float-right { float: right; }

.clear-left  { clear: left;  }
.clear-right { clear: right; }
.clear-both  { clear: both;  }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*
  Useful position classes */

.position-all    { position: absolute; left: 0; top:    0; right:  0; margin: auto; bottom: 0; }
.position-left   { position: absolute; top:  0; bottom: 0; left:   0; margin: auto; }
.position-right  { position: absolute; top:  0; bottom: 0; right:  0; margin: auto; }
.position-top    { position: absolute; left: 0; right:  0; top:    0; margin: auto; }
.position-bottom { position: absolute; left: 0; right:  0; bottom: 0; margin: auto; }

.position-top-left     { position: absolute; top:    0; left:  0; }
.position-top-right    { position: absolute; top:    0; right: 0; }
.position-bottom-left  { position: absolute; bottom: 0; left:  0; }
.position-bottom-right { position: absolute; bottom: 0; right: 0; }

.position-center-off-top-left     { position: absolute; top:    50%; left:  50%; }
.position-center-off-top-right    { position: absolute; top:    50%; right: 50%; }
.position-center-off-bottom-left  { position: absolute; bottom: 50%; left:  50%; }
.position-center-off-bottom-right { position: absolute; bottom: 50%; right: 50%; }

.absolute { position: absolute; }
.relative { position: relative; }
.fixed    { position: fixed;    }

/*
  Pointer events */

.no-events { pointer-events: none; }
.events    { pointer-events: all;  }

.no-user-select { user-select: none; }
.user-select    { user-select: none; }

/*
  Useful typography classes */

.all-caps   { text-transform: uppercase;  }
.bold       { font-weight: bold; }
.italic     { font-style: italic; }

.underlined {
  border-bottom: 1px solid;
}

/*
  Overflow */

.nowrap {
  white-space: nowrap;
}

.text-overflow-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.word-break {
  word-break: break-word;
}

/*
  Blocks */

.inline       { display: inline; }
.block        { display: block; }
.inline-block { display: inline-block; }
.round        { border-radius: 50%; }
