//
// Basic form elements

// <div className="form-group form-group-float">
//   <label className="label size-0">Text input</label>
//   <input className="text-input" type="text"/>
// </div>

.form-group {
  position: relative;
  border: 1px solid $border;
  padding: $line*0.5;
  overflow: hidden;
  border-radius: $main-rounding;
  background: $background;

  & + &,
  & + .button-row {
    margin-top: $line*0.5;
  }
}

.form-group-boxes {
  padding-bottom: 0;
}

.form-group-float {
  padding: 0;
}

.label {
  display: block;
  color: $strong;
  font-weight: 400;
  margin-bottom: $line*0.5;

  .form-group-boxes & {
    margin-bottom: $line*0.375;
  }

  .form-group-float & {
    position: absolute;
    left: 0; top: 0; right: 0;
    pointer-events: none;
    padding: $line*0.5;
    margin: 0;
    z-index: 3;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.text-input {
  padding: $line*0.5;
  width: 100%;
  display: block;
  position: relative;
  border: none;
  background: transparent;

  .form-group-float & {
    padding-top: $line + $line*0.5;
  }

  &:hover {
    background: $off-background;
  }

  &:focus {
    background: $off-background;
    color: $highlight;
  }
}

//
// Stripped select boxes

// <div className="form-group form-group-float">
//   <label className="label size-0">Select menu</label>
//   <select className="select-input">
//     <option>Trolol</option>
//   </select>
// </div>

.select-input {
  display: block;
  width: 100%;
  border: 1px solid $border;
  color: inherit;
  border-radius: $main-rounding;
  padding: $line*0.4 $line*0.5 $line*0.35;
  padding-right: $line*0.5 + $line*0.375*2;
  background: transparent url("/assets/icon_arrow-up-down.svg") no-repeat right $line*0.25 center;
  background-size: $line*0.75;
  appearance: none;

  .form-group-float & {
    padding: $line*0.4 ($line*0.5 + $line*0.375*2) $line*0.35 $line*0.5;
    background-position: right $line*0.25 bottom $line*0.5;
    border-width: 1px 0 0;
    margin-top: ($line + $line*0.5 + $line*0.125)
  }

  &:hover,
  &:focus {
    background-color: $off-background;
    cursor: pointer;
  }

  &:focus {
    color: $highlight;
  }
}

//
// Checkboxes and radio buttons

// <div className="form-group form-group-boxes">
//   <label className="label size-0">Checkboxes and radio buttons</label>
//   <label className="box-label">
//     <input type="checkbox"/>
//     <span className="box-text">Checkbox</span>
//   </label>
// </div>

.box-label {
  display: block;
  padding: $line*0.375 $line*0.5;
  margin: 0 ($line * -0.5);
  border-top: 1px solid $border;

  &:last-child {
    padding-bottom: $line*0.5;
  }

  input {
    cursor: inherit;
    margin-right: $spacing-xxs;
    position: relative;
    top: -1px;

    &:focus + .box-text {
      color: $highlight;
    }
  }

  &:hover {
    background-color: $off-background;
    cursor: pointer;
  }
}

.box-text {

}

.button.button {
  font-weight: 400;
  appearance: none;
  background: none;
  border: none;
  border-radius: $main-rounding;
  padding: .30375em .6875em .38375em; // $line*0.25 $line*0.5
  cursor: pointer;
  color: $strong;
  background: $off-background;

  &:hover,
  &:focus {
    background: $highlight;
    color: $background;
    border-color: transparent;
  }

  &:active {
    background: $strong;
    color: $background;
    border-color: transparent;
  }

  & + & {
    margin-left: $spacing-xs;
  }
}

//
// Toggle switches (made with checkboxes)

// <label className="toggle in-a-row">
//   <input type="checkbox" name="viewtype"/>
//   <span className="options">
//     <span className="option left-option">Left</span>
//     <span className="toggle-switch">
//       <span className="toggle-nib">
//       </span>
//     </span>
//     <span className="option right-option">Right</span>
//   </span>
// </label>

.toggle {
  cursor: pointer;
  user-select: none;
  font-weight: 400;

  input {
    display: none;
  }
}

.left-option,
input:checked + .options .right-option {
  color: $body;
  font-weight: 400;
}

.right-option,
input:checked + .options .left-option {
  color: $aside;
  font-weight: 300;
}

.toggle-switch {
  display: inline-block;
  position: relative;
  border-radius: $line*0.75;
  height: $line*0.75;
  vertical-align: middle;
  width: $line*1.5;
  margin: 0 $spacing-xxs;
  position: relative;
  top: -1px;
  color: $highlight;
  background: $highlight;

  .toggle:hover & {
    color: $alt-highlight;
    background: $alt-highlight;
  }
}

.toggle-nib {
  display: block;
  width: $line*0.75;
  height: 100%;
  background: $background;
  border: 1px solid currentcolor;
  border-radius: 50%;
  transform: translateX(0%);

  input:checked + .options & {
    transform: translateX(100%);
  }
}
