@charset "utf-8";

/*
  1 rem == baseline grid unit.
  The calc() function flexes the baseline grid,
  making everything automatically a bit bigger on larger screens,
  as long as you set every font-size, line-height, margin, padding etc.
  in rems.

  Edit the em value to change the grid's base size,
  but make sure the font-sizes still feel good on small screens.

  Edit the vw/vh/vmin values to change how much the grid flexes,
  but make sure your body text doesn't get huge in large viewports.

  Details on the technique:
  http://codepen.io/CrocoDillon/pen/jgmwt?editors=0010 */

html {
  font-size: 133%; /* Fallback: used if browser doesn't support calc() */
  font-size: calc(1.14em + 0.2vw + 0.2vh + 0.1vmin);

  /* Colors and other variables often needed by CSS go here,
     as a single source of truth, but still accessible
     in components. */
  --fontFamily: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --backgroundColor: black;
  --color: white;

  font-family: var(--fontFamily);
  background-color: var(--backgroundColor);
  color: var(--color);
}

body {
  line-height: 1rem;
  font-size: 0.8rem; /* = line-height of 1.25 */
}
