@charset "utf-8";
@viewport {width: device-width;}

/*
  These are project-specific styles.
  You'll at least want to edit these a little. */

/*
  1 rem == baseline grid unit.
  The calc() function flexes the baseline grid,
  so everything is automatically a bit bigger on larger screens.

  Edit the em value to change the grid's base size,
  but make sure the font-sizes still feel good on small screens.

  Edit the vw/vh/vmin values to change how much the grid flexes,
  but make sure your body text doesn't get huge in large viewports.

  Details:
  http://codepen.io/CrocoDillon/pen/jgmwt?editors=0010 */

html {
  font-size: calc(0.875em + 0.5vw + 0.5vh + 0.25vmin);
}

/*
  Font-sizes aligned to the 1 rem baseline grid.
  Useful and readable at all screen sizes above 320px.
  Adjust the font-size multipliers to suit your font. */

.size-0-75    { line-height: 0.75rem; font-size: calc(0.75rem * 0.764); }
.size-1, body { line-height: 1.00rem; font-size: calc(1.00rem * 0.764); }
.size-1-25    { line-height: 1.25rem; font-size: calc(1.25rem * 0.854); }
.size-1-5     { line-height: 1.50rem; font-size: calc(1.50rem * 0.910); }
.size-2       { line-height: 2.00rem; font-size: calc(2.00rem * 1.000); }

/*
  Font-sizes that fit the viewport width.
  Awesome on large screens yet still readable at 320px.
  Adjust the line-heights to suit your font. */

.size-fit-1 { line-height: 1.333; font-size: 3.6vw; }
.size-fit-2 { line-height: 1.333; font-size: 4.7vw; }
.size-fit-3 { line-height: 1.200; font-size: 6.6vw; }
.size-fit-4 { line-height: 1.000; font-size: 8.4vw; }
.size-fit-5 { line-height: 0.965; font-size: 12vw;  }

/*
  A grid overlay for the baseline grid */

.grid-overlay {
  background-image:
    linear-gradient(rgba(255,0,0,0.236), transparent 9%),
    linear-gradient(to right, rgba(255,0,0,0.236), transparent 9%),
    linear-gradient(rgba(255,0,0,0.236), transparent 9%),
    linear-gradient(to right, rgba(255,0,0,0.236), transparent 9%)
  ;
  background-size:
    100% 1rem,
    1rem 100%,
    100% 0.25rem,
    0.25rem 100%
  ;
}

/*
  Roundings and strokes */

.rounded { border-radius: 0.125rem; }
.stroke-dotted { stroke-dasharray: 1px 1px; }
.stroke-dashed { stroke-dasharray: 3px 2px; }

/*
  Colors generated with
  http://tools.medialab.sciences-po.fr/iwanthue/
  http://tristen.ca/hcl-picker/ */

/* Low chroma */

.color-1  { color:            #37302E; }
.bg-1     { background-color: #37302E; }
.border-1 { border-color:     #37302E; }
.fill-1   { fill:             #37302E; }
.stroke-1 { stroke:           #37302E; }

.color-2  { color:            #5B5954; }
.bg-2     { background-color: #5B5954; }
.border-2 { border-color:     #5B5954; }
.fill-2   { fill:             #5B5954; }
.stroke-2 { stroke:           #5B5954; }

.color-3  { color:            #808677; }
.bg-3     { background-color: #808677; }
.border-3 { border-color:     #808677; }
.fill-3   { fill:             #808677; }
.stroke-3 { stroke:           #808677; }

.color-4  { color:            #B1B493; }
.bg-4     { background-color: #B1B493; }
.border-4 { border-color:     #B1B493; }
.fill-4   { fill:             #B1B493; }
.stroke-4 { stroke:           #B1B493; }

.color-5  { color:            #F1E1B1; }
.bg-5     { background-color: #F1E1B1; }
.border-5 { border-color:     #F1E1B1; }
.fill-5   { fill:             #F1E1B1; }
.stroke-5 { stroke:           #F1E1B1; }

/* High chroma */

.color-bright-1  { color:            #3C2C3E; }
.bg-bright-1     { background-color: #3C2C3E; }
.border-bright-1 { border-color:     #3C2C3E; }
.fill-bright-1   { fill:             #3C2C3E; }
.stroke-bright-1 { stroke:           #3C2C3E; }

.color-bright-2  { color:            #395D74; }
.bg-bright-2     { background-color: #395D74; }
.border-bright-2 { border-color:     #395D74; }
.fill-bright-2   { fill:             #395D74; }
.stroke-bright-2 { stroke:           #395D74; }

.color-bright-3  { color:            #1E938C; }
.bg-bright-3     { background-color: #1E938C; }
.border-bright-3 { border-color:     #1E938C; }
.fill-bright-3   { fill:             #1E938C; }
.stroke-bright-3 { stroke:           #1E938C; }

.color-bright-4  { color:            #6CC47B; }
.bg-bright-4     { background-color: #6CC47B; }
.border-bright-4 { border-color:     #6CC47B; }
.fill-bright-4   { fill:             #6CC47B; }
.stroke-bright-4 { stroke:           #6CC47B; }

.color-bright-5  { color:            #E7E860; }
.bg-bright-5     { background-color: #E7E860; }
.border-bright-5 { border-color:     #E7E860; }
.fill-bright-5   { fill:             #E7E860; }
.stroke-bright-5 { stroke:           #E7E860; }

/* Other */

.color-none  { color:            none; }
.bg-none     { background-color: none; }
.border-none { border-color:     none; }
.fill-none   { fill:             none; }
.stroke-none { stroke:           none; }

.color-transparent  { color:            transparent; }
.bg-transparent     { background-color: transparent; }
.border-transparent { border-color:     transparent; }

.color-inherit  { color:            inherit; }
.bg-inherit     { background-color: inherit; }
.border-inherit { border-color:     inherit; }

.bg-currentcolor     { background-color: currentcolor; }
.border-currentcolor { border-color:     currentcolor; }

/*
  Entry animations
  (Played once when the element appears in the DOM.) */

.enter-zoom {
  animation: enter-zoom 200ms cubic-bezier(0.236, 0.000, 0.236, 1.000);
}

@keyframes enter-zoom {
  0%   { transform: scale(0); }
  100% { transform: scale(1); }
}

.enter-fade {
  animation: enter-fade 200ms cubic-bezier(0.236, 0.000, 0.236, 1.000);
}

@keyframes enter-fade {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

/*
  Base styles
  and things easily forgotten */

html {
  font-family:
    -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif
  ;
  /*-webkit-tap-highlight-color: rgba(0,0,0,0);*/
}

body {
  max-width: 100%;
  overflow: hidden;
  overflow-y: visible;
}

::selection {

}

::placeholder {

}

/*-------------------------------------------*/
/*-------------------------------------------*/
/*      Strictly project-specific styles     */
/*-------------------------------------------*/
/*-------------------------------------------*/
