@charset "utf-8";
@viewport {
  width: device-width;
}

/*
  Resets annoying things */

* {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: ink;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  border-radius: 0;
}

ul,
ol {
  padding-left: 1rem;
}

/*
  HTML5 element and media display */

article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section,
video,
audio,
canvas,
img,
svg {
  display: block;
}

/*
  Misc element fixes */

a {
  background-color: transparent;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

/*
  Buttons and forms */

button,
[type="submit"],
[type="reset"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  white-space: normal;
}

[disabled] {
  cursor: not-allowed !important;
}

::-webkit-input-placeholder {
  opacity: 1;
  color: inherit;
}

::-moz-placeholder {
  opacity: 1;
  color: inherit;
}

:-ms-input-placeholder {
  opacity: 1;
  color: inherit;
}

::placeholder {
  opacity: 1;
  color: inherit;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
  display: block;
}

/*
  Tables */

table {
  border-collapse: collapse;
  border-spacing: 0;
  min-width: 100%;
}

/*
  Removes touch input lag from tappable things */

a,
button,
input,
textarea,
select,
label,
canvas {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
