@supports (top: max(1px, env(safe-area-inset-top))) {
  .safeAll,
  .safeTop {
    margin-top: env(safe-area-inset-top);
  }
  .safeAll,
  .safeRight {
    margin-right: env(safe-area-inset-right);
  }
  .safeAll,
  .safeLeft {
    margin-left: env(safe-area-inset-left);
  }
  .safeAll,
  .safeBottom {
    margin-bottom: env(safe-area-inset-bottom);
  }
}
