.childMarginsY > * + * { --childMarginsY: 1rem; margin-top: var(--childMarginsY); }
.childMarginsX > * + * { --childMarginsX: 1rem; margin-left: var(--childMarginsX); }
.gap { --gap: 1rem; grid-gap: var(--gap); gap: var(--gap); }
.gapY { --gapY: 1rem; grid-row-gap: var(--gapY); row-gap: var(--gapY); }
.gapX { --gapX: 1rem; grid-column-gap: var(--gapX); column-gap: var(--gapX); }

.margin { --margin: 1rem; margin: var(--margin); }
.marginY { --marginY: 1rem; margin-top: 1rem; margin-bottom: var(--marginY); }
.marginX { --marginX: 1rem; margin-left: 1rem; margin-right: var(--marginX); }
.marginTop { --marginTop: 1rem; margin-top: var(--marginTop); }
.marginRight { --marginRight: 1rem; margin-right: var(--marginRight); }
.marginBottom { --marginBottom: 1rem; margin-bottom: var(--marginBottom); }
.marginLeft { --marginLeft: 1rem; margin-left: var(--marginLeft); }
.padding { --padding: 1rem; padding: var(--padding); }
.paddingY { --paddingY: 1rem; padding-top: 1rem; padding-bottom: var(--paddingY); }
.paddingX { --paddingX: 1rem; padding-left: 1rem; padding-right: var(--paddingX); }
.paddingTop { --paddingTop: 1rem; padding-top: var(--paddingTop); }
.paddingRight { --paddingRight: 1rem; padding-right: var(--paddingRight); }
.paddingBottom { --paddingBottom: 1rem; padding-bottom: var(--paddingBottom); }
.paddingLeft { --paddingLeft: 1rem; padding-left: var(--paddingLeft); }